@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@media only screen and (max-width: 800px) {
  #max-header {
    display: none;
  }
  footer{
    flex-direction: column;
    padding-bottom: 5rem;
  }
  footer div{
    flex-direction: column;
  }
  footer div img{
    display: none;
  }
}
@media only screen and (min-width: 800px) {
  #min-header {
    display: none;
  }
}
.navbar,footer {
  background-color: #0d253f !important;
}
.nav-link {
  color: white !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
}
#btn-lang {
  padding: 0.1rem 0.25rem;
  border-radius: 0.3rem;
}
.custom-tooltip {
  --bs-tooltip-bg: white;
  --bs-tooltip-color: black;
}
#profile-svg {
  height: 2rem;
  width: 2rem;
}
#offcanvasExample {
  --bs-offcanvas-bg: #0d253f;
  --bs-offcanvas-width: 85%;
}
#movies,
#tvshows,
#people {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 1.1rem;
}
#movies-menu,
#tvshows-menu,
#people-menu {
  display: none;
}
#movies-menu ul,
#tvshows-menu ul,
#people-menu ul {
  list-style: none;
}
#movies-menu ul a,
#tvshows-menu ul a,
#people-menu ul a {
  text-decoration: none;
  color: gray;
  margin-left: -2rem;
}
#misc-links a {
  text-decoration: none;
  color: gray;
}
#search-div {
  background: rgb(5, 71, 108);
  background: linear-gradient(
    90deg,
    rgba(5, 71, 108, 1) 0%,
    rgba(3, 140, 196, 1) 100%
  );
  height: 45vh;
}
#search-div-input {
  border-radius: 2rem;
  padding: 0.75rem;
}
#search-div-btn {
  background: rgb(21, 202, 190);
  background: linear-gradient(
    90deg,
    rgba(21, 202, 190, 1) 0%,
    rgba(5, 183, 223, 1) 100%
  );
  border-radius: 2rem;
  margin-left: -4rem;
}
.card{
    padding: 1rem 0;
    border: none;
}
.card-type{
    padding-left: 2rem;
}
.card-type img{
    border-radius: 0.5rem;
}
.card-type p{
    color: gray;
    font-size: 0.75rem;
}
#trending-results{
    background-image: url("../img/dynamic_equalizer.png");
    background-position: 100%;
}
#trailers-div{
    background-color:#0d253f;
}
footer div ul{
    list-style-type: none;
}
footer div ul a{
    text-decoration: none;
    color: white;
    margin-left: -2rem;
}
footer div button{
    color: #01b4e4 !important;
}
#all-time{
    list-style-image: url("../img/list_1.png");

}
#this-week{
    list-style-image: url("../img/list_2.png");
}